In [481]:
import torch
import pandas as pd
import numpy as np

In [482]:
device = torch.device("cuda") 
device

device(type='cuda')

In [483]:
torch.cuda.is_available()

True

In [484]:
if torch.cuda.is_available(): 
    torch.cuda.manual_seed(42) # ustawiamy ziarno dla konkretnego GPU którego teraz używamy?
    torch.cuda.manual_seed_all(42) # ustawiamy ziarno dla wszystkich GPU
    
# Additionally, some operations on a GPU are implemented stochastic for efficiency
# We want to ensure that all operations are deterministic on GPU (if used) for reproducibility
torch.backends.cudnn.determinstic = True
torch.backends.cudnn.benchmark = False

In [485]:
df = pd.read_csv('data.csv')
df

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,17089,2012-12-19,4,1,12,19,0,3,1,1,0.38,0.3939,0.50,0.3881,7,329,336
10882,17090,2012-12-19,4,1,12,20,0,3,1,1,0.36,0.3485,0.57,0.2239,10,231,241
10883,17091,2012-12-19,4,1,12,21,0,3,1,1,0.34,0.3182,0.61,0.2239,4,164,168
10884,17092,2012-12-19,4,1,12,22,0,3,1,1,0.34,0.3485,0.61,0.0896,12,117,129
10885,17093,2012-12-19,4,1,12,23,0,3,1,1,0.32,0.3333,0.66,0.1343,4,84,88

In [486]:
data_ev = pd.read_csv('evaluation_data.csv')
data_ev

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,2011-01-20,1,0,1,0,0,4,1,1,0.26,0.2273,0.56,0.3881
1,2011-01-20,1,0,1,1,0,4,1,1,0.26,0.2727,0.56,0.0000
2,2011-01-20,1,0,1,2,0,4,1,1,0.26,0.2727,0.56,0.0000
3,2011-01-20,1,0,1,3,0,4,1,1,0.26,0.2576,0.56,0.1642
4,2011-01-20,1,0,1,4,0,4,1,1,0.26,0.2576,0.56,0.1642
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6488,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642
6489,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642
6490,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642
6491,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343
6492,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343

In [487]:
df = df.drop(['dteday', 'casual', 'registered', 'instant'], axis=1)
# data_ev = data_ev.drop('dteday')

In [488]:
data_ev = data_ev.drop(['dteday'], axis=1)

In [489]:
df

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,16
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,40
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,32
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,13
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,4,1,12,19,0,3,1,1,0.38,0.3939,0.50,0.3881,336
10882,4,1,12,20,0,3,1,1,0.36,0.3485,0.57,0.2239,241
10883,4,1,12,21,0,3,1,1,0.34,0.3182,0.61,0.2239,168
10884,4,1,12,22,0,3,1,1,0.34,0.3485,0.61,0.0896,129
10885,4,1,12,23,0,3,1,1,0.32,0.3333,0.66,0.1343,88

In [490]:
data_ev

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,1,0,1,0,0,4,1,1,0.26,0.2273,0.56,0.3881
1,1,0,1,1,0,4,1,1,0.26,0.2727,0.56,0.0000
2,1,0,1,2,0,4,1,1,0.26,0.2727,0.56,0.0000
3,1,0,1,3,0,4,1,1,0.26,0.2576,0.56,0.1642
4,1,0,1,4,0,4,1,1,0.26,0.2576,0.56,0.1642
...,...,...,...,...,...,...,...,...,...,...,...,...
6488,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642
6489,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642
6490,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642
6491,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343
6492,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343

In [491]:

max_val = df[['cnt']].max()
df[['cnt']] = df[['cnt']].apply(lambda x: x / x.max())

In [492]:
df

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,0.016377
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,0.040942
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,0.032753
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,0.013306
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0.001024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,4,1,12,19,0,3,1,1,0.38,0.3939,0.50,0.3881,0.343910
10882,4,1,12,20,0,3,1,1,0.36,0.3485,0.57,0.2239,0.246673
10883,4,1,12,21,0,3,1,1,0.34,0.3182,0.61,0.2239,0.171955
10884,4,1,12,22,0,3,1,1,0.34,0.3485,0.61,0.0896,0.132037
10885,4,1,12,23,0,3,1,1,0.32,0.3333,0.66,0.1343,0.090072

In [493]:
import torch.nn as nn

In [494]:
class SimpleClassifier(nn.Module):

    def __init__(self, num_inputs, num_hidden, num_hidden2, num_outputs):
        super().__init__()
        # Initialize the modules we need to build the network
        self.linear1 = nn.Linear(num_inputs, num_hidden)
        self.act_fn = nn.Sigmoid()
        self.linear2 = nn.Linear(num_hidden, num_hidden2)
        self.act_fn2 = nn.LeakyReLU()
        self.linear3 = nn.Linear(num_hidden2, num_outputs)
        

    def forward(self, x):
        # Perform the calculation of the model to determine the prediction
        x = self.linear1(x)
        x = self.act_fn(x)
        x = self.linear2(x)
        x = self.act_fn2(x)
        x = self.linear3(x)
        return x

In [495]:
import torch.utils.data as data

In [496]:
train=df.sample(frac=0.8,random_state=200) #random state is a seed value
test=df.drop(train.index)

In [497]:
train_dataset = data.TensorDataset(torch.from_numpy(train.values[:,:-1]),torch.from_numpy(train.values[:,-1]))

In [498]:
next(iter(train_dataset))

(tensor([ 4.0000,  0.0000, 10.0000,  5.0000,  0.0000,  6.0000,  0.0000,  1.0000,
          0.4200,  0.4242,  0.7100,  0.1642], dtype=torch.float64),
 tensor(0.0072, dtype=torch.float64))

In [499]:
train_data_loader = data.DataLoader(train_dataset, batch_size=128, shuffle=True)

model = SimpleClassifier(num_inputs=12, num_hidden=32, num_hidden2=8, num_outputs=1)
model.to(device)

optimizer = torch.optim.Adam(model.parameters(), lr = 3e-4)

loss_module = nn.MSELoss()

In [500]:
model.train()
for epoch in range(250):
    for data_inputs, data_labels in train_data_loader:

        ## Step 1: Move input data to device (only strictly necessary if we use GPU)
        data_inputs = data_inputs.to(device)
        data_labels = data_labels.to(device)

        ## Step 2: Run the model on the input data
        preds = model(data_inputs.float())
        preds = preds.squeeze(dim=1) # Output is [Batch size, 1], but we want [Batch size]

        ## Step 3: Calculate the loss
        loss = loss_module(preds, data_labels.float())

        ## Step 4: Perform backpropagation
        # Before calculating the gradients, we need to ensure that they are all zero. 
        # The gradients would not be overwritten, but actually added to the existing ones.
        optimizer.zero_grad() 
        # Perform backpropagation
        loss.backward()

        ## Step 5: Update the parameters
        optimizer.step()
    print(f"Epoch: {epoch}, loss: {loss.item():.3}")

Epoch: 0, loss: 0.0481
Epoch: 1, loss: 0.00312
Epoch: 2, loss: 0.00983
Epoch: 3, loss: 0.0263
Epoch: 4, loss: 0.0132
Epoch: 5, loss: 0.0319
Epoch: 6, loss: 0.0193
Epoch: 7, loss: 0.0515
Epoch: 8, loss: 0.00534
Epoch: 9, loss: 0.0287
Epoch: 10, loss: 0.00945
Epoch: 11, loss: 0.0273
Epoch: 12, loss: 0.011
Epoch: 13, loss: 0.0451
Epoch: 14, loss: 0.0228
Epoch: 15, loss: 0.051
Epoch: 16, loss: 0.00331
Epoch: 17, loss: 0.00948
Epoch: 18, loss: 0.0576
Epoch: 19, loss: 0.00775
Epoch: 20, loss: 0.0635
Epoch: 21, loss: 0.0128
Epoch: 22, loss: 0.00943
Epoch: 23, loss: 0.0119
Epoch: 24, loss: 0.0413
Epoch: 25, loss: 0.00881
Epoch: 26, loss: 0.0332
Epoch: 27, loss: 0.00471
Epoch: 28, loss: 0.0123
Epoch: 29, loss: 0.0676
Epoch: 30, loss: 0.00987
Epoch: 31, loss: 0.0181
Epoch: 32, loss: 0.0538
Epoch: 33, loss: 0.00418
Epoch: 34, loss: 0.0196
Epoch: 35, loss: 0.0157
Epoch: 36, loss: 0.021
Epoch: 37, loss: 0.00967
Epoch: 38, loss: 0.0433
Epoch: 39, loss: 0.0938
Epoch: 40, loss: 0.00609
Epoch: 41, loss: 0.0186
Epoch: 42, loss: 0.0162
Epoch: 43, loss: 0.0053
Epoch: 44, loss: 0.0256
Epoch: 45, loss: 0.00642
Epoch: 46, loss: 0.00228
Epoch: 47, loss: 0.00945
Epoch: 48, loss: 0.00991
Epoch: 49, loss: 0.064
Epoch: 50, loss: 0.0186
Epoch: 51, loss: 0.0899
Epoch: 52, loss: 0.0132
Epoch: 53, loss: 0.0525
Epoch: 54, loss: 0.00388
Epoch: 55, loss: 0.0521
Epoch: 56, loss: 0.0382
Epoch: 57, loss: 0.043
Epoch: 58, loss: 0.0129
Epoch: 59, loss: 0.0342
Epoch: 60, loss: 0.0452
Epoch: 61, loss: 0.0244
Epoch: 62, loss: 0.00525
Epoch: 63, loss: 0.0291
Epoch: 64, loss: 0.00368
Epoch: 65, loss: 0.00297
Epoch: 66, loss: 0.0122
Epoch: 67, loss: 0.00162
Epoch: 68, loss: 0.0351
Epoch: 69, loss: 0.0127
Epoch: 70, loss: 0.044
Epoch: 71, loss: 0.00243
Epoch: 72, loss: 0.00689
Epoch: 73, loss: 0.00789
Epoch: 74, loss: 0.00845
Epoch: 75, loss: 0.0185
Epoch: 76, loss: 0.0475
Epoch: 77, loss: 0.00389
Epoch: 78, loss: 0.00959
Epoch: 79, loss: 0.00411
Epoch: 80, loss: 0.0101
Epoch: 81, loss: 0.0144
Epoch: 82, loss: 0.00527
Epoch: 83, loss: 0.0027
Epoch: 84, loss: 0.0324
Epoch: 85, loss: 0.00945
Epoch: 86, loss: 0.00295
Epoch: 87, loss: 0.0044
Epoch: 88, loss: 0.0111
Epoch: 89, loss: 0.00341
Epoch: 90, loss: 0.0193
Epoch: 91, loss: 0.0234
Epoch: 92, loss: 0.0126
Epoch: 93, loss: 0.0111
Epoch: 94, loss: 0.00363
Epoch: 95, loss: 0.00434
Epoch: 96, loss: 0.00945
Epoch: 97, loss: 0.00385
Epoch: 98, loss: 0.0339
Epoch: 99, loss: 0.00102
Epoch: 100, loss: 0.0237
Epoch: 101, loss: 0.0165
Epoch: 102, loss: 0.0393
Epoch: 103, loss: 0.00151
Epoch: 104, loss: 0.0113
Epoch: 105, loss: 0.0147
Epoch: 106, loss: 0.0114
Epoch: 107, loss: 0.00962
Epoch: 108, loss: 0.0129
Epoch: 109, loss: 0.0144
Epoch: 110, loss: 0.019
Epoch: 111, loss: 0.0031
Epoch: 112, loss: 0.0411
Epoch: 113, loss: 0.0144
Epoch: 114, loss: 0.00649
Epoch: 115, loss: 0.0162
Epoch: 116, loss: 0.00603
Epoch: 117, loss: 0.0651
Epoch: 118, loss: 0.025
Epoch: 119, loss: 0.0282
Epoch: 120, loss: 0.00719
Epoch: 121, loss: 0.0197
Epoch: 122, loss: 0.0467
Epoch: 123, loss: 0.0101
Epoch: 124, loss: 0.0023
Epoch: 125, loss: 0.00414
Epoch: 126, loss: 0.00768
Epoch: 127, loss: 0.0151
Epoch: 128, loss: 0.0196
Epoch: 129, loss: 0.00609
Epoch: 130, loss: 0.0339
Epoch: 131, loss: 0.0304
Epoch: 132, loss: 0.00816
Epoch: 133, loss: 0.0115
Epoch: 134, loss: 0.00283
Epoch: 135, loss: 0.004
Epoch: 136, loss: 0.00392
Epoch: 137, loss: 0.0145
Epoch: 138, loss: 0.0105
Epoch: 139, loss: 0.00847
Epoch: 140, loss: 0.00472
Epoch: 141, loss: 0.0176
Epoch: 142, loss: 0.00117
Epoch: 143, loss: 0.00541
Epoch: 144, loss: 0.00569
Epoch: 145, loss: 0.00476
Epoch: 146, loss: 0.0102
Epoch: 147, loss: 0.00129
Epoch: 148, loss: 0.00284
Epoch: 149, loss: 0.00556
Epoch: 150, loss: 0.00344
Epoch: 151, loss: 0.00173
Epoch: 152, loss: 0.000959
Epoch: 153, loss: 0.00358
Epoch: 154, loss: 0.00301
Epoch: 155, loss: 0.00168
Epoch: 156, loss: 0.0318
Epoch: 157, loss: 0.00517
Epoch: 158, loss: 0.00237
Epoch: 159, loss: 0.00346
Epoch: 160, loss: 0.00195
Epoch: 161, loss: 0.00442
Epoch: 162, loss: 0.0112
Epoch: 163, loss: 0.00728
Epoch: 164, loss: 0.0284
Epoch: 165, loss: 0.0363
Epoch: 166, loss: 0.00323
Epoch: 167, loss: 0.0151
Epoch: 168, loss: 0.0148
Epoch: 169, loss: 0.00293
Epoch: 170, loss: 0.00815
Epoch: 171, loss: 0.0264
Epoch: 172, loss: 0.00743
Epoch: 173, loss: 0.00453
Epoch: 174, loss: 0.00671
Epoch: 175, loss: 0.0417
Epoch: 176, loss: 0.0115
Epoch: 177, loss: 0.00848
Epoch: 178, loss: 0.00365
Epoch: 179, loss: 0.0244
Epoch: 180, loss: 0.000823
Epoch: 181, loss: 0.00101
Epoch: 182, loss: 0.0137
Epoch: 183, loss: 0.00857
Epoch: 184, loss: 0.00259
Epoch: 185, loss: 0.0208
Epoch: 186, loss: 0.00249
Epoch: 187, loss: 0.00391
Epoch: 188, loss: 0.00297
Epoch: 189, loss: 0.00246
Epoch: 190, loss: 0.00422
Epoch: 191, loss: 0.00686
Epoch: 192, loss: 0.0027
Epoch: 193, loss: 0.0409
Epoch: 194, loss: 0.0463
Epoch: 195, loss: 0.0065
Epoch: 196, loss: 0.0121
Epoch: 197, loss: 0.00512
Epoch: 198, loss: 0.00715
Epoch: 199, loss: 0.011
Epoch: 200, loss: 0.00306
Epoch: 201, loss: 0.00331
Epoch: 202, loss: 0.02
Epoch: 203, loss: 0.039
Epoch: 204, loss: 0.00571
Epoch: 205, loss: 0.0295
Epoch: 206, loss: 0.0101
Epoch: 207, loss: 0.00225
Epoch: 208, loss: 0.0063
Epoch: 209, loss: 0.00566
Epoch: 210, loss: 0.00902
Epoch: 211, loss: 0.00202
Epoch: 212, loss: 0.0198
Epoch: 213, loss: 0.0202
Epoch: 214, loss: 0.0102
Epoch: 215, loss: 0.00145
Epoch: 216, loss: 0.0125
Epoch: 217, loss: 0.0128
Epoch: 218, loss: 0.0129
Epoch: 219, loss: 0.00203
Epoch: 220, loss: 0.000749
Epoch: 221, loss: 0.00717
Epoch: 222, loss: 0.00279
Epoch: 223, loss: 0.0155
Epoch: 224, loss: 0.0198
Epoch: 225, loss: 0.0121
Epoch: 226, loss: 0.00336
Epoch: 227, loss: 0.00882
Epoch: 228, loss: 0.0025
Epoch: 229, loss: 0.000292
Epoch: 230, loss: 0.00251
Epoch: 231, loss: 0.00759
Epoch: 232, loss: 0.00574
Epoch: 233, loss: 0.00542
Epoch: 234, loss: 0.00546
Epoch: 235, loss: 0.00515
Epoch: 236, loss: 0.00555
Epoch: 237, loss: 0.0048
Epoch: 238, loss: 0.00607
Epoch: 239, loss: 0.000528
Epoch: 240, loss: 0.001
Epoch: 241, loss: 0.00366
Epoch: 242, loss: 0.0021
Epoch: 243, loss: 0.00711
Epoch: 244, loss: 0.000891
Epoch: 245, loss: 0.00227
Epoch: 246, loss: 0.00337
Epoch: 247, loss: 0.00455
Epoch: 248, loss: 0.00851
Epoch: 249, loss: 0.00604

In [501]:
test_dataset = data.TensorDataset(torch.from_numpy(test.values[:,:-1]))
test_labels = data.TensorDataset(torch.from_numpy(test.values[:, -1]))


labels_list = []
for item in test_labels:
  labels_list.append(float(item[0])*max_val)

labels = pd.DataFrame(labels_list)
csv = labels.to_csv(index=False, header=False)
with open('test_labels.csv', 'w', newline='') as f:
  f.write(csv)

In [502]:
test_data_loader = data.DataLoader(test_dataset, 128, shuffle=False, drop_last=False)

In [508]:
test_tensor = torch.from_numpy(data_ev.values.astype(float)).to(device).float()
final_pred = model(test_tensor)
final_pred *= max_val[0]
predictions = final_pred.cpu().detach().numpy()
pd.DataFrame(predictions).to_csv('Szczepanowski_Scisel.csv',index=False, header=False)

In [504]:
model.eval() # Set model to eval mode

preds_list = []
with torch.no_grad(): # Deactivate gradients for the following code
    for data_inputs in test_dataset:
        data_inputs = data_inputs[0].to(device)
        preds = model(data_inputs.float())
        preds_cp = preds.cpu()
        preds_list.append(float(preds_cp)*max_val[0])
df_prim = pd.DataFrame(preds_list)
csv = df_prim.to_csv(index=False, header=False)
with open('konfidenci.csv', 'w', newline='') as f:
  f.write(csv)

def rmsle(y_true,y_pred):
    n = len(y_true)
    msle = np.mean([(np.log(max(y_pred[i],0) + 1) - np.log(y_true[i] + 1)) ** 2.0 for i in range(n)])
    return np.sqrt(msle)

print(rmsle(labels_list, preds_list))

0.8132300947504834