In [6]:
import torch
import pandas as pd
import numpy as np

In [7]:
device = torch.device("cuda") 
device

device(type='cuda')

In [8]:
torch.cuda.is_available()

True

In [9]:
if torch.cuda.is_available(): 
    torch.cuda.manual_seed(42) # ustawiamy ziarno dla konkretnego GPU którego teraz używamy?
    torch.cuda.manual_seed_all(42) # ustawiamy ziarno dla wszystkich GPU
    
# Additionally, some operations on a GPU are implemented stochastic for efficiency
# We want to ensure that all operations are deterministic on GPU (if used) for reproducibility
torch.backends.cudnn.determinstic = True
torch.backends.cudnn.benchmark = False

In [10]:
df = pd.read_csv('data.csv')
df

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,17089,2012-12-19,4,1,12,19,0,3,1,1,0.38,0.3939,0.50,0.3881,7,329,336
10882,17090,2012-12-19,4,1,12,20,0,3,1,1,0.36,0.3485,0.57,0.2239,10,231,241
10883,17091,2012-12-19,4,1,12,21,0,3,1,1,0.34,0.3182,0.61,0.2239,4,164,168
10884,17092,2012-12-19,4,1,12,22,0,3,1,1,0.34,0.3485,0.61,0.0896,12,117,129
10885,17093,2012-12-19,4,1,12,23,0,3,1,1,0.32,0.3333,0.66,0.1343,4,84,88

In [11]:
data_ev = pd.read_csv('evaluation_data.csv')
data_ev

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,2011-01-20,1,0,1,0,0,4,1,1,0.26,0.2273,0.56,0.3881
1,2011-01-20,1,0,1,1,0,4,1,1,0.26,0.2727,0.56,0.0000
2,2011-01-20,1,0,1,2,0,4,1,1,0.26,0.2727,0.56,0.0000
3,2011-01-20,1,0,1,3,0,4,1,1,0.26,0.2576,0.56,0.1642
4,2011-01-20,1,0,1,4,0,4,1,1,0.26,0.2576,0.56,0.1642
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6488,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642
6489,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642
6490,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642
6491,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343
6492,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343

In [12]:
df = df.drop(['dteday', 'casual', 'registered', 'instant'], axis=1)
# data_ev = data_ev.drop('dteday')

In [13]:
data_ev = data_ev.drop(['dteday'], axis=1)

In [14]:
df

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,16
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,40
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,32
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,13
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,4,1,12,19,0,3,1,1,0.38,0.3939,0.50,0.3881,336
10882,4,1,12,20,0,3,1,1,0.36,0.3485,0.57,0.2239,241
10883,4,1,12,21,0,3,1,1,0.34,0.3182,0.61,0.2239,168
10884,4,1,12,22,0,3,1,1,0.34,0.3485,0.61,0.0896,129
10885,4,1,12,23,0,3,1,1,0.32,0.3333,0.66,0.1343,88

In [15]:
data_ev

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,1,0,1,0,0,4,1,1,0.26,0.2273,0.56,0.3881
1,1,0,1,1,0,4,1,1,0.26,0.2727,0.56,0.0000
2,1,0,1,2,0,4,1,1,0.26,0.2727,0.56,0.0000
3,1,0,1,3,0,4,1,1,0.26,0.2576,0.56,0.1642
4,1,0,1,4,0,4,1,1,0.26,0.2576,0.56,0.1642
...,...,...,...,...,...,...,...,...,...,...,...,...
6488,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642
6489,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642
6490,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642
6491,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343
6492,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343

In [16]:

max_val = df[['cnt']].max()
df[['cnt']] = df[['cnt']].apply(lambda x: x / x.max())

In [17]:
df

,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,0.016377
1,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,0.040942
2,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,0.032753
3,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,0.013306
4,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0.001024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,4,1,12,19,0,3,1,1,0.38,0.3939,0.50,0.3881,0.343910
10882,4,1,12,20,0,3,1,1,0.36,0.3485,0.57,0.2239,0.246673
10883,4,1,12,21,0,3,1,1,0.34,0.3182,0.61,0.2239,0.171955
10884,4,1,12,22,0,3,1,1,0.34,0.3485,0.61,0.0896,0.132037
10885,4,1,12,23,0,3,1,1,0.32,0.3333,0.66,0.1343,0.090072

In [18]:
import torch.nn as nn

In [19]:
class SimpleClassifier(nn.Module):

    def __init__(self, num_inputs, num_hidden, num_hidden2, num_outputs):
        super().__init__()
        # Initialize the modules we need to build the network
        self.linear1 = nn.Linear(num_inputs, num_hidden)
        self.act_fn = nn.Sigmoid()
        self.linear2 = nn.Linear(num_hidden, num_hidden2)
        self.act_fn2 = nn.LeakyReLU()
        self.linear3 = nn.Linear(num_hidden2, num_outputs)
        

    def forward(self, x):
        # Perform the calculation of the model to determine the prediction
        x = self.linear1(x)
        x = self.act_fn(x)
        x = self.linear2(x)
        x = self.act_fn2(x)
        x = self.linear3(x)
        return x

In [20]:
import torch.utils.data as data

In [21]:
train=df.sample(frac=0.8,random_state=200) #random state is a seed value
test=df.drop(train.index)

In [22]:
train_dataset = data.TensorDataset(torch.from_numpy(train.values[:,:-1]),torch.from_numpy(train.values[:,-1]))

In [23]:
next(iter(train_dataset))

(tensor([ 4.0000,  0.0000, 10.0000,  5.0000,  0.0000,  6.0000,  0.0000,  1.0000,
          0.4200,  0.4242,  0.7100,  0.1642], dtype=torch.float64),
 tensor(0.0072, dtype=torch.float64))

In [24]:
train_data_loader = data.DataLoader(train_dataset, batch_size=128, shuffle=True)

model = SimpleClassifier(num_inputs=12, num_hidden=32, num_hidden2=8, num_outputs=1)
model.to(device)

optimizer = torch.optim.Adam(model.parameters(), lr = 3e-4)

loss_module = nn.MSELoss()

In [25]:
model.train()
for epoch in range(250):
    for data_inputs, data_labels in train_data_loader:

        ## Step 1: Move input data to device (only strictly necessary if we use GPU)
        data_inputs = data_inputs.to(device)
        data_labels = data_labels.to(device)

        ## Step 2: Run the model on the input data
        preds = model(data_inputs.float())
        preds = preds.squeeze(dim=1) # Output is [Batch size, 1], but we want [Batch size]

        ## Step 3: Calculate the loss
        loss = loss_module(preds, data_labels.float())

        ## Step 4: Perform backpropagation
        # Before calculating the gradients, we need to ensure that they are all zero. 
        # The gradients would not be overwritten, but actually added to the existing ones.
        optimizer.zero_grad() 
        # Perform backpropagation
        loss.backward()

        ## Step 5: Update the parameters
        optimizer.step()
    print(f"Epoch: {epoch}, loss: {loss.item():.3}")

Epoch: 0, loss: 0.0311
Epoch: 1, loss: 0.0138
Epoch: 2, loss: 0.0048
Epoch: 3, loss: 0.0232
Epoch: 4, loss: 0.00656
Epoch: 5, loss: 0.0139
Epoch: 6, loss: 0.0117
Epoch: 7, loss: 0.0198
Epoch: 8, loss: 0.00657
Epoch: 9, loss: 0.0641
Epoch: 10, loss: 0.0434
Epoch: 11, loss: 0.0239
Epoch: 12, loss: 0.0807
Epoch: 13, loss: 0.00559
Epoch: 14, loss: 0.049
Epoch: 15, loss: 0.0174
Epoch: 16, loss: 0.00766
Epoch: 17, loss: 0.00335
Epoch: 18, loss: 0.0106
Epoch: 19, loss: 0.00994
Epoch: 20, loss: 0.0152
Epoch: 21, loss: 0.0126
Epoch: 22, loss: 0.0559
Epoch: 23, loss: 0.00465
Epoch: 24, loss: 0.0529
Epoch: 25, loss: 0.0188
Epoch: 26, loss: 0.0523
Epoch: 27, loss: 0.00437
Epoch: 28, loss: 0.00515
Epoch: 29, loss: 0.00453
Epoch: 30, loss: 0.0146
Epoch: 31, loss: 0.0036
Epoch: 32, loss: 0.0366
Epoch: 33, loss: 0.0178
Epoch: 34, loss: 0.00846
Epoch: 35, loss: 0.0181
Epoch: 36, loss: 0.0134
Epoch: 37, loss: 0.0232
Epoch: 38, loss: 0.0121
Epoch: 39, loss: 0.0261
Epoch: 40, loss: 0.015
Epoch: 41, loss: 0.0084
Epoch: 42, loss: 0.00631
Epoch: 43, loss: 0.0123
Epoch: 44, loss: 0.00284
Epoch: 45, loss: 0.0814
Epoch: 46, loss: 0.0105
Epoch: 47, loss: 0.00342
Epoch: 48, loss: 0.0118
Epoch: 49, loss: 0.0155
Epoch: 50, loss: 0.0339
Epoch: 51, loss: 0.00396
Epoch: 52, loss: 0.0146
Epoch: 53, loss: 0.0326
Epoch: 54, loss: 0.0228
Epoch: 55, loss: 0.0108
Epoch: 56, loss: 0.00678
Epoch: 57, loss: 0.0437
Epoch: 58, loss: 0.00293
Epoch: 59, loss: 0.0071
Epoch: 60, loss: 0.0235
Epoch: 61, loss: 0.00637
Epoch: 62, loss: 0.00312
Epoch: 63, loss: 0.00228
Epoch: 64, loss: 0.00434
Epoch: 65, loss: 0.0274
Epoch: 66, loss: 0.0372
Epoch: 67, loss: 0.00223
Epoch: 68, loss: 0.0083
Epoch: 69, loss: 0.0408
Epoch: 70, loss: 0.00918
Epoch: 71, loss: 0.0288
Epoch: 72, loss: 0.0043
Epoch: 73, loss: 0.00194
Epoch: 74, loss: 0.0088
Epoch: 75, loss: 0.0012
Epoch: 76, loss: 0.0177
Epoch: 77, loss: 0.0195
Epoch: 78, loss: 0.0214
Epoch: 79, loss: 0.00426
Epoch: 80, loss: 0.00397
Epoch: 81, loss: 0.00211
Epoch: 82, loss: 0.00239
Epoch: 83, loss: 0.0138
Epoch: 84, loss: 0.0106
Epoch: 85, loss: 0.00249
Epoch: 86, loss: 0.0103
Epoch: 87, loss: 0.0024
Epoch: 88, loss: 0.00601
Epoch: 89, loss: 0.00252
Epoch: 90, loss: 0.0237
Epoch: 91, loss: 0.00929
Epoch: 92, loss: 0.000308
Epoch: 93, loss: 0.00111
Epoch: 94, loss: 0.0686
Epoch: 95, loss: 0.00775
Epoch: 96, loss: 0.00458
Epoch: 97, loss: 0.00179
Epoch: 98, loss: 0.00617
Epoch: 99, loss: 0.00406
Epoch: 100, loss: 0.0417
Epoch: 101, loss: 0.0014
Epoch: 102, loss: 0.00638
Epoch: 103, loss: 0.00246
Epoch: 104, loss: 0.0126
Epoch: 105, loss: 0.00564
Epoch: 106, loss: 0.00187
Epoch: 107, loss: 0.0033
Epoch: 108, loss: 0.00214
Epoch: 109, loss: 0.00908
Epoch: 110, loss: 0.0071
Epoch: 111, loss: 0.00656
Epoch: 112, loss: 0.00115
Epoch: 113, loss: 0.00699
Epoch: 114, loss: 0.000701
Epoch: 115, loss: 0.0147
Epoch: 116, loss: 0.00455
Epoch: 117, loss: 0.00134
Epoch: 118, loss: 0.00932
Epoch: 119, loss: 0.00102
Epoch: 120, loss: 0.00262
Epoch: 121, loss: 0.00865
Epoch: 122, loss: 0.0202
Epoch: 123, loss: 0.00432
Epoch: 124, loss: 0.00511
Epoch: 125, loss: 0.0153
Epoch: 126, loss: 0.00896
Epoch: 127, loss: 0.00246
Epoch: 128, loss: 0.00389
Epoch: 129, loss: 0.000302
Epoch: 130, loss: 0.00766
Epoch: 131, loss: 0.00421
Epoch: 132, loss: 0.0404
Epoch: 133, loss: 0.00524
Epoch: 134, loss: 0.00242
Epoch: 135, loss: 0.00124
Epoch: 136, loss: 0.025
Epoch: 137, loss: 0.0275
Epoch: 138, loss: 0.0187
Epoch: 139, loss: 0.000818
Epoch: 140, loss: 0.0321
Epoch: 141, loss: 0.00513
Epoch: 142, loss: 0.00154
Epoch: 143, loss: 0.00114
Epoch: 144, loss: 0.004
Epoch: 145, loss: 0.00343
Epoch: 146, loss: 0.00356
Epoch: 147, loss: 0.00712
Epoch: 148, loss: 0.00555
Epoch: 149, loss: 0.0439
Epoch: 150, loss: 0.000937
Epoch: 151, loss: 0.0162
Epoch: 152, loss: 0.00504
Epoch: 153, loss: 0.00672
Epoch: 154, loss: 0.00147
Epoch: 155, loss: 0.00552
Epoch: 156, loss: 0.00324
Epoch: 157, loss: 0.00128
Epoch: 158, loss: 0.0101
Epoch: 159, loss: 0.000989
Epoch: 160, loss: 0.00168
Epoch: 161, loss: 0.00019
Epoch: 162, loss: 0.0121
Epoch: 163, loss: 0.00201
Epoch: 164, loss: 0.00734
Epoch: 165, loss: 0.015
Epoch: 166, loss: 0.00692
Epoch: 167, loss: 0.00108
Epoch: 168, loss: 0.0378
Epoch: 169, loss: 0.00193
Epoch: 170, loss: 0.00649
Epoch: 171, loss: 0.0163
Epoch: 172, loss: 0.00838
Epoch: 173, loss: 0.00778
Epoch: 174, loss: 0.00609
Epoch: 175, loss: 0.0132
Epoch: 176, loss: 0.0118
Epoch: 177, loss: 0.028
Epoch: 178, loss: 0.0188
Epoch: 179, loss: 0.000192
Epoch: 180, loss: 0.0121
Epoch: 181, loss: 0.00208
Epoch: 182, loss: 0.00356
Epoch: 183, loss: 0.00396
Epoch: 184, loss: 0.0264
Epoch: 185, loss: 0.00518
Epoch: 186, loss: 0.000741
Epoch: 187, loss: 0.0202
Epoch: 188, loss: 0.00431
Epoch: 189, loss: 0.00296
Epoch: 190, loss: 0.0047
Epoch: 191, loss: 0.0107
Epoch: 192, loss: 0.00412
Epoch: 193, loss: 0.00447
Epoch: 194, loss: 0.0153
Epoch: 195, loss: 0.000569
Epoch: 196, loss: 0.00533
Epoch: 197, loss: 0.00572
Epoch: 198, loss: 0.00359
Epoch: 199, loss: 0.00103
Epoch: 200, loss: 0.00188
Epoch: 201, loss: 0.00799
Epoch: 202, loss: 0.00794
Epoch: 203, loss: 0.0067
Epoch: 204, loss: 0.00143
Epoch: 205, loss: 0.000681
Epoch: 206, loss: 0.00619
Epoch: 207, loss: 0.00171
Epoch: 208, loss: 0.00259
Epoch: 209, loss: 0.00389
Epoch: 210, loss: 0.00217
Epoch: 211, loss: 0.00359
Epoch: 212, loss: 0.0051
Epoch: 213, loss: 0.00118
Epoch: 214, loss: 0.00276
Epoch: 215, loss: 0.00197
Epoch: 216, loss: 0.00416
Epoch: 217, loss: 0.00261
Epoch: 218, loss: 0.00211
Epoch: 219, loss: 0.000499
Epoch: 220, loss: 0.000726
Epoch: 221, loss: 0.000217
Epoch: 222, loss: 0.00465
Epoch: 223, loss: 0.00597
Epoch: 224, loss: 0.00623
Epoch: 225, loss: 0.00179
Epoch: 226, loss: 0.00214
Epoch: 227, loss: 0.00972
Epoch: 228, loss: 0.000824
Epoch: 229, loss: 0.000836
Epoch: 230, loss: 0.000367
Epoch: 231, loss: 0.0133
Epoch: 232, loss: 0.00327
Epoch: 233, loss: 0.0369
Epoch: 234, loss: 0.00215
Epoch: 235, loss: 0.0123
Epoch: 236, loss: 0.00177
Epoch: 237, loss: 0.0114
Epoch: 238, loss: 0.0035
Epoch: 239, loss: 0.0174
Epoch: 240, loss: 0.00874
Epoch: 241, loss: 0.0128
Epoch: 242, loss: 0.00253
Epoch: 243, loss: 0.00751
Epoch: 244, loss: 0.00197
Epoch: 245, loss: 0.000842
Epoch: 246, loss: 0.00155
Epoch: 247, loss: 0.00272
Epoch: 248, loss: 0.00843
Epoch: 249, loss: 0.00799

In [32]:
test_dataset = data.TensorDataset(torch.from_numpy(test.values[:,:-1]))
test_labels = data.TensorDataset(torch.from_numpy(test.values[:, -1]))


labels_list = []
for item in test_labels:
  labels_list.append(float(item[0])*max_val)

In [33]:
model.eval() # Set model to eval mode

preds_list = []
with torch.no_grad(): # Deactivate gradients for the following code
    for data_inputs in test_dataset:
        data_inputs = data_inputs[0].to(device)
        preds = model(data_inputs.float())
        preds_cp = preds.cpu()
        preds_list.append(float(preds_cp)*max_val[0])
df_prim = pd.DataFrame(preds_list)
csv = df_prim.to_csv(index=False, header=False)
with open('konfidenci.csv', 'w', newline='') as f:
  f.write(csv)

def rmsle(y_true,y_pred):
    n = len(y_true)
    msle = np.mean([(np.log(max(y_pred[i],0) + 1) - np.log(y_true[i] + 1)) ** 2.0 for i in range(n)])
    return np.sqrt(msle)

print(rmsle(labels_list, preds_list))

0.8791237165389822